@page "/blog"

<div class="container mt-5">
    <h1 class="mb-4">STUFF I WRITE ABOUT</h1>
    <p>I try to write on my blog on a regular basis. I think it is important to share your knowledge with others.</p>

    <div class="row row-cols-1 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">MAKE SQL QUERIES FLY</h5>
                    <p class="card-text">We apply the proverb 'Look before you leap' not only to our content but our power to repurpose. A company that can synthesize courageously will (eventually) be able to transition easily. Imagine a combination of HTTP and AJAX...</p>
                    <p class="card-text"><small class="text-muted">Published 11 January</small></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">THE POWER OF CSS</h5>
                    <p class="card-text">The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and"...</p>
                    <p class="card-text"><small class="text-muted">Published 12 February</small></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">STORING IMAGES IN A DB</h5>
                    <p class="card-text">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar...</p>
                    <p class="card-text"><small class="text-muted">Published 13 March</small></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">SPA VS MPA FRAMEWORKS</h5>
                    <p class="card-text">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly...</p>
                    <p class="card-text"><small class="text-muted">Published 21 April</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
