@page "/challenges"

<div class="container mt-5">
    <h1 class="mb-4">SMALLER THINGS I HAVE BUILT</h1>
    <p>Coding Challenges are smaller in scope and scale than my full-stack projects. These problems are fun to solve and also showcase some UI skills and front-end dev skills with javascript. All the projects are published so you can easily see my work in action. Contact me if you would like to discuss any of my work.</p>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Loan Payment Calculator</h5>
                    <p class="card-text">Displays a full amortization schedule for simple interest loans.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Palindrome Checker</h5>
                    <p class="card-text">Checks if a string is a palindrome. A classic interview question built as an app.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">To-Do List (Takser)</h5>
                    <p class="card-text">Builds a to-do list. Takser has some features not seen in most to-do list apps.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Superdog</h5>
                    <p class="card-text">Displays event data and stats. Makes great use of local storage.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Fizz Buzz with a Twist</h5>
                    <p class="card-text">The classic interview question with a twist. What if Fizz Buzz was an app?</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Notary</h5>
                    <p class="card-text">Reads a book and produces stats. A unique project built with Javascript.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
