@page "/education"
@page "/skills"

<div class="container mt-5">
    <h1 class="mb-4">WHAT I USE</h1>
    <p>I am a creative problem solver. I build full-stack web and mobile applications. I use C#, SQL, ASP.NET, Javascript, Xamarin, Bootstrap, HTML and CSS. I have highlighted my key technical skills that I will bring to your project.</p>

    <div class="row">
        <div class="col-md-6">
            <h3>C#</h3>
            <p>I use C# on a daily basis to build websites and mobile applications. You can see examples of my work implementing C# in my projects sections.</p>
        </div>
        <div class="col-md-6">
            <h3>ASP.NET</h3>
            <p>I use proven design patterns and frameworks to build websites. ASP.NET Core Web and MVC fits the bill for most projects. Visit my projects to see examples.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>JavaScript</h3>
            <p>Javascript is the language of the web. I use vanilla js and I am comfortable with many js frameworks. Check out my challenges section for some js projects.</p>
        </div>
        <div class="col-md-6">
            <h3>HTML, CSS, Bootstrap</h3>
            <p>I use HTML, CSS and Bootstrap to build beautiful responsive websites. Bootstrap is my go-to CSS framework. Many shy away from front-end, I embrace it.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Git & GitHub</h3>
            <p>I use git and github for all my projects. Git is the most used source control framework on the planet. I also employ CI/CD for publishing.</p>
        </div>
        <div class="col-md-6">
            <h3>SQL</h3>
            <p>SQL is the language of the database. My projects all utilize a database. I have used Postgres on all of them. I can write SQL on any DB platform.</p>
        </div>
    </div>
</div>

@code {

}
