@page "/"

<PageTitle>Home</PageTitle>

<div class="splash">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Gerald Ncube</h1>
                <p class="lead">A passionate individual who always thrives to work on end to end products which develop sustainable and scalable social and technical systems to create impact.</p>
                <div class="d-grid gap-2">
                    <button class="btn btn-lg btn-primary" type="button"> <i class="bi bi-star px-2"></i>  Star Me On Github</button>
                </div>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div>
</div>

<div class="container">
</div>