@page "/"

<PageTitle>Home</PageTitle>

<div class="splash">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Gerald Ncube</h1>
                <p class="lead">I'm Gerald Ncube, a software engineer with a passion for developing innovative solutions that make a difference. With a keen interest in open-source projects, I'm always looking to collaborate and contribute to the tech community.</p>
                <div class="d-grid gap-2">
                    <a href="https://github.com/gncube" class="btn btn-lg btn-primary" role="button" target="_blank"> <i class="bi bi-star px-2"></i> Star Me On Github</a>
                </div>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div>
</div>

<div class="container">
</div>