
.splash {
    position: relative;
    padding: 6em 0 6em;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    /*
        background-image: url(../../images/splash.svg), linear-gradient(145deg, var(--bs-body-bg) 0%, var(--bs-body-bg) 80%);
        background-image: url(../../images/splash.svg), linear-gradient(145deg, var(--bs-body-bg) 0%, var(--bs-body-bg) 80%);
        background-image: url(../../images/splash.svg), linear-gradient(145deg, var(--bs-body-color) 0%, var(--bs-body-color) 80%);
    */

    background-image: url(../../images/splash.svg), linear-gradient(145deg, #060606 40%, #282828 80%);
    background-size: cover;
}
