@page "/projects"

<div class="container mt-5">
    <h1 class="mb-4">THINGS I HAVE BUILT</h1>
    <p>Showcasing complete functional projects demonstrates what I can bring to your project. I built these projects from the ground up to demonstrate skill with front-end, back-end, security and database development. All these projects are full-stack web projects that are published so that you can demo them easily. Contact me to get a complete code walk through.</p>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Bug Tracker App</h5>
                    <p class="card-text">A Full Stack bug tracker app built with ASP.NET MVC, C#, and SQL.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Budgeting App</h5>
                    <p class="card-text">A Full Stack budgeting app built with ASP.NET MVC, C#, and SQL.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Blogging Platform</h5>
                    <p class="card-text">A Full Stack blogging platform built with ASP.NET MVC, C#, and SQL.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
