@inject IJSRuntime JSRuntime


@*     <div class="p-2 bg-light">
    <dl class="themeSelector row">
    <dt class="col-sm-3">Description: </dt>
    <dd class="col-sm-9 text-start">A description list is perfect for defining terms.</dd>
    </dl>
    </div> *@

<div class="row">
    <div class="col-sm-3"><strong>Theme:</strong></div>
    <div class="col-sm-9">
        <select class="form-select" id="selectThemes"></select>
    </div>
</div>






@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("themeSelector.load");
        }
    }
}
