@inject IJSRuntime JSRuntime

<div class="row">
    <div class="col">
        <select class="form-select" id="selectThemes"></select>
    </div>
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("themeSelector.load");
        }
    }
}
