﻿.footerStyle {
    background-color: var(--cf-theme-900);
    color: var(--cf-light-color);
}

.footerStyle a {
    color: var(--cf-theme-200);
}

    .footerStyle a:hover {
        color: var(--cf-theme-core);
    }

.footerStyle .bi {
    font-size: 1.5rem;
    padding-inline-start: 0.5rem;
}


.dropdown-menu.show[aria-labelledby=themes] {
    display: flex;
    flex-wrap: wrap;
    width: 420px
}

    .dropdown-menu.show[aria-labelledby=themes] .dropdown-item {
        width: 33.333333%
    }

        .dropdown-menu.show[aria-labelledby=themes] .dropdown-item:first-child {
            width: 100%
        }