@inherits LayoutComponentBase

<div class="d-flex flex-column h-100">
    <!---Top Nav---> 
    <NavMenuPrimary />
    <!-- Main -->
   <main class="flex-grow-1 mt-5"> 
        @Body
     </main> 
    <!-- Footer-->
   <footer class="flex-shrink-0"> 
        <Footer/>
    </footer>
 </div> 
