<nav class="navbar navbar-expand-lg bg-light fixed-top mb-5" data-bs-theme="light">
    <div class="container">
        <a class="navbar-brand" href="/">Gerald Ncube</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="skills">Skills</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="projects">Projects</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="challenges">Challenges</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="blog">Blog</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="contact">Contact</NavLink>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ms-md-auto">
                <li class="nav-item">
                    <a target="_blank" rel="noopener" class="nav-link" href="https://github.com/thomaspark/bootswatch/">
                        <i class="bi bi-github"></i><span class="d-lg-none ms-2">GitHub</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a target="_blank" rel="noopener" class="nav-link" href="https://twitter.com/bootswatch">
                        <i class="bi bi-twitter"></i><span class="d-lg-none ms-2">Twitter</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

}
